@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
textarea:-webkit-autofill {
  transition-delay: 9999s;
}

#page-input::-webkit-outer-spin-button,
#page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  @apply h-full w-full overflow-x-hidden
}